<h2>About Gumsnipp</h2>

<div class="row">
  <div class="four columns">
    <h4>What is this place?</h4>
    <span>
      Design elements, playground and code snippets for Gumby HTML/CSS/JS framework.<br>
      Gumsnipp was created by Miłosz Osiński in June 2014 for web developers using Gymby framework.
    </span>
  </div>
  <div class="four columns">
    <h4>Thanks to:</h4>
    <span>
      <a href="https://github.com/defis">@deathis</a>
    </span>
  </div>
  <div class="four columns">
    <h4>Thankful for Gumsnipp?:</h4>
    <span>
      Feel free to give a $$$ on a Paypal donation! Your donations are really appreciated and help me make Gumsnipp better!
      <br>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="6HGRWUG9QDUCL">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/pl_PL/i/scr/pixel.gif" width="1" height="1">
      </form>
    </span>
  </div>
</div>
