<h2>About Gumsnipp</h2>

<div class="row">
  <div class="four columns">
    <h4>What is this place?</h4>
    <span>
      Design elements, playground and code snippets for Gumby HTML/CSS/JS framework.<br>
      Bootsnipp was created by Miłosz Osiński in June 2014 for web developers using Gymby framework.
    </span>
  </div>
  <div class="four columns">
    <h4>Thanks to:</h4>
    <span>
      <a href="https://github.com/defis">@deathis</a>
    </span>
  </div>
</div>
