<h3>Editing snippet "<%= @snipp.title %>"</h3>

<%= render 'form' %>

<ul>
  <li class="field">
    <div class="actions">
      <%= link_to @snipp, confirm: "Are you sure you want to destroy snipp '#{@snipp.title}'?", method: :delete, class: "medium danger btn", style: "color:white" do %>
        <i class="icon-trash"></i> Destroy
      <% end %>
    </div>
  </li>
</ul>
<div class="medium default btn">
  <%= link_to snipps_path do %>
    <i class="icon-left-bold"></i> Back
  <% end %>
</div>
