<h1>Listing snipps</h1>

  <% @snipps.each_slice(3) do |snipps| %>
    <div class="row">
      <% snipps.each do |snipp| %>
        <div class="four columns" style="padding: 0px 5px 2px 5px">
          <h5><%= link_to snipp.title, snipp %></h5>
          <img src="http://immediatenet.com/t/m?Size=1024x768&URL=<%= path_for action: :subscreens, id: snipp.id %>">
          <div class="field">
            <div class="medium primary btn xxwide" style="width:100%"><%= link_to "View", snipp %></div>
          </div>
        </div>
      <% end %>
    </div>
    <br />
  <% end %>

<br>

<%= link_to 'New Snipp', new_snipp_path %>
