.shaded {
  background-color: #E9E9E9;
}
.title-bar {
  border-radius: 6px;
  padding: 0px 0px 5px 10px;
}
.avatar {
  display: inline-block;
  border: 2px solid #769FD1;
  border-radius: 6px;
  vertical-align: sub;
}
.name { display:inline-block; }
form textarea, .code pre {
  -moz-tab-size:2;
  -o-tab-size:2;
  tab-size:2;
}
form#searchform { height:30px }
form#searchform .submit_button {
  margin-left: -32px;
  border-radius: 0px 20px 20px 0px;
}
.thumbnail {
  border: 1px solid #DDD;
  padding:0px 5px 2px 5px;
}
.field_with_errors {
  display:inline;
}
.field_with_errors:after {
font-family: "entypo";
content: "✖";
font-size: 16px;
position: absolute;
top: 13%;
right: 55px;
z-index: 999;
color: #CA3838;
}
.field_with_errors input {
  background: none repeat scroll 0% 0% #F0C5C5 !important;
  border-color: #CA3838 !important;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -40px;
}
.page-wrap:after {
  content: "";
  display: block;
}
footer, .page-wrap:after { height: 80px; }
footer {
  width:100%;
  height:40px;
  color: #777;
  background-color: #FFF;
  border-top: 1px solid #E5E5E5 !important;
}
span#unchecked_count {
  padding: 0px 5px;
  position: absolute;
  margin-top: 3px;
}
div#welcome {
  margin-top:-20px;
  background:url(image_path('welcome_background.jpg'));
  padding: 5px 15px 10px;
  font-size: 21px;
  text-align: center;
  text-shadow: 2px 2px 0px rgba(59, 88, 139, 0.4);
}
div#welcome > .row h1 {
  color: #FFF !important;
}
div#welcome > .row h4 {
  color: lightgray !important;
}
.social-sharing {
  padding-top: 10px;
  padding-right: 10px;
}
.tag { margin-bottom: 5px; }
.tag .badge { margin-top: 7px; }
.progress-bar {
  float: left;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #FFF;
  text-align: center;
  transition: width 0.6s ease 0s;
}
.progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  background-color: #F5F5F5;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
}
.bs-wizard > .bs-wizard-step {margin-left: 0; padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 15px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step a.bs-wizard-dot {pointer-events: none;}
