.shaded {
  background-color: #E9E9E9;
}
.title-bar {
  border-radius: 6px;
  padding: 0px 0px 5px 10px;
}
.avatar {
  width: 60px;
  height: 60px;
  display:inline-block;
  border: 2px solid #769FD1;
  border-radius: 6px;
}
.name { display:inline-block; }
form#searchform { height:30px }
form#searchform .submit_button {
  margin-left: -32px;
  border-radius: 0px 20px 20px 0px;
}
.thumbnail {
  border: 1px solid #DDD;
  padding:0px 5px 2px 5px;
}
