.shaded {
  background-color: #E9E9E9;
}
.title-bar {
  border-radius: 6px;
  padding: 0px 0px 5px 10px;
}
.avatar {
  display: inline-block;
  border: 2px solid #769FD1;
  border-radius: 6px;
  vertical-align: sub;
}
.name { display:inline-block; }
form#searchform { height:30px }
form#searchform .submit_button {
  margin-left: -32px;
  border-radius: 0px 20px 20px 0px;
}
.thumbnail {
  border: 1px solid #DDD;
  padding:0px 5px 2px 5px;
}
.field_with_errors {
  display:inline;
}
.field_with_errors:after {
font-family: "entypo";
content: "✖";
font-size: 16px;
position: absolute;
top: 14%;
right: 40px;
z-index: 999;
color: #CA3838;
}
.field_with_errors input {
  background: none repeat scroll 0% 0% #F0C5C5 !important;
  border-color: #CA3838 !important;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -40px;
}
.page-wrap:after {
  content: "";
  display: block;
}
footer, .page-wrap:after { height: 80px; }
footer {
  width:100%;
  height:40px;
  color: #777;
  background-color: #FFF;
  border-top: 1px solid #E5E5E5 !important;
}
span#unchecked_count {
  padding: 0px 5px;
  position: absolute;
  margin-top: 3px;
}
div#welcome {
  margin-top:-20px;
  background:url(image_path('welcome_background.jpg'));
  padding: 5px 15px 10px;
  font-size: 21px;
  text-align: center;
  text-shadow: 2px 2px 0px rgba(59, 88, 139, 0.4);
}
div#welcome > .row h1 {
  color: #FFF !important;
}
div#welcome > .row h4 {
  color: lightgray !important;
}
.social-sharing {
  padding-top: 10px;
  padding-right: 10px;
}
