@font-face {
  font: {
    family: 'Open Sans';
    weight: 300;
    style: 'normal';
  }
  src: asset-url('OpenSans-Light.woff') format('ttf');
}
@font-face {
  font: {
    family: 'Open Sans';
    weight: 400;
    style: 'normal';
  }
  src: asset-url('OpenSans-Regular.ttf') format('ttf');
}
@font-face {
  font: {
    family: 'Open Sans';
    weight: 600;
    style: 'normal';
  }
  src: asset-url('OpenSans-Semibold.ttf') format('ttf');
}
@font-face {
  font: {
    family: 'Open Sans';
    weight: 700;
    style: 'normal';
  }
  src: asset-url('OpenSans-Bold.ttf') format('ttf');
}
